-- DropForeignKey
ALTER TABLE "User" DROP CONSTRAINT "User_tenantId_fkey";

-- DropForeignKey
ALTER TABLE "Client" DROP CONSTRAINT "Client_tenantId_fkey";

-- DropForeignKey
ALTER TABLE "Site" DROP CONSTRAINT "Site_clientId_fkey";

-- DropForeignKey
ALTER TABLE "Site" DROP CONSTRAINT "Site_tenantId_fkey";

-- DropForeignKey
ALTER TABLE "Booking" DROP CONSTRAINT "Booking_clientId_fkey";

-- DropForeignKey
ALTER TABLE "Booking" DROP CONSTRAINT "Booking_tenantId_fkey";

-- DropForeignKey
ALTER TABLE "Booking" DROP CONSTRAINT "Booking_siteId_fkey";

-- DropForeignKey
ALTER TABLE "Booking" DROP CONSTRAINT "Booking_createdBy_fkey";

-- DropForeignKey
ALTER TABLE "Booking" DROP CONSTRAINT "Booking_scheduledBy_fkey";

-- DropForeignKey
ALTER TABLE "BookingAsset" DROP CONSTRAINT "BookingAsset_bookingId_fkey";

-- DropForeignKey
ALTER TABLE "BookingAsset" DROP CONSTRAINT "BookingAsset_categoryId_fkey";

-- DropForeignKey
ALTER TABLE "BookingStatusHistory" DROP CONSTRAINT "BookingStatusHistory_bookingId_fkey";

-- DropForeignKey
ALTER TABLE "Job" DROP CONSTRAINT "Job_bookingId_fkey";

-- DropForeignKey
ALTER TABLE "Job" DROP CONSTRAINT "Job_tenantId_fkey";

-- DropForeignKey
ALTER TABLE "Job" DROP CONSTRAINT "Job_driverId_fkey";

-- DropForeignKey
ALTER TABLE "JobAsset" DROP CONSTRAINT "JobAsset_jobId_fkey";

-- DropForeignKey
ALTER TABLE "JobAsset" DROP CONSTRAINT "JobAsset_categoryId_fkey";

-- DropForeignKey
ALTER TABLE "JobStatusHistory" DROP CONSTRAINT "JobStatusHistory_jobId_fkey";

-- DropForeignKey
ALTER TABLE "Vehicle" DROP CONSTRAINT "Vehicle_tenantId_fkey";

-- DropForeignKey
ALTER TABLE "Vehicle" DROP CONSTRAINT "Vehicle_createdBy_fkey";

-- DropForeignKey
ALTER TABLE "VehicleDriver" DROP CONSTRAINT "VehicleDriver_vehicleId_fkey";

-- DropForeignKey
ALTER TABLE "VehicleDriver" DROP CONSTRAINT "VehicleDriver_driverId_fkey";

-- DropForeignKey
ALTER TABLE "DriverProfile" DROP CONSTRAINT "DriverProfile_userId_fkey";

-- DropForeignKey
ALTER TABLE "OrganisationProfile" DROP CONSTRAINT "OrganisationProfile_userId_fkey";

-- DropForeignKey
ALTER TABLE "Evidence" DROP CONSTRAINT "Evidence_jobId_fkey";

-- DropForeignKey
ALTER TABLE "Evidence" DROP CONSTRAINT "Evidence_uploadedBy_fkey";

-- DropForeignKey
ALTER TABLE "Certificate" DROP CONSTRAINT "Certificate_jobId_fkey";

-- DropForeignKey
ALTER TABLE "CO2Result" DROP CONSTRAINT "CO2Result_jobId_fkey";

-- DropForeignKey
ALTER TABLE "BuybackResult" DROP CONSTRAINT "BuybackResult_jobId_fkey";

-- DropForeignKey
ALTER TABLE "FinanceStatus" DROP CONSTRAINT "FinanceStatus_jobId_fkey";

-- DropForeignKey
ALTER TABLE "Document" DROP CONSTRAINT "Document_tenantId_fkey";

-- DropForeignKey
ALTER TABLE "Document" DROP CONSTRAINT "Document_jobId_fkey";

-- DropForeignKey
ALTER TABLE "Document" DROP CONSTRAINT "Document_bookingId_fkey";

-- DropForeignKey
ALTER TABLE "Document" DROP CONSTRAINT "Document_uploadedBy_fkey";

-- DropForeignKey
ALTER TABLE "Invite" DROP CONSTRAINT "Invite_invitedBy_fkey";

-- DropForeignKey
ALTER TABLE "Notification" DROP CONSTRAINT "Notification_userId_fkey";

-- DropForeignKey
ALTER TABLE "Notification" DROP CONSTRAINT "Notification_tenantId_fkey";

-- DropForeignKey
ALTER TABLE "TwoFactorCode" DROP CONSTRAINT "TwoFactorCode_userId_fkey";

-- DropForeignKey
ALTER TABLE "ClientInventory" DROP CONSTRAINT "ClientInventory_clientId_fkey";

-- DropForeignKey
ALTER TABLE "ClientInventory" DROP CONSTRAINT "ClientInventory_tenantId_fkey";

-- DropForeignKey
ALTER TABLE "SerialReuseHistory" DROP CONSTRAINT "SerialReuseHistory_clientId_fkey";

-- DropForeignKey
ALTER TABLE "SerialReuseHistory" DROP CONSTRAINT "SerialReuseHistory_tenantId_fkey";

-- DropForeignKey
ALTER TABLE "SerialReuseHistory" DROP CONSTRAINT "SerialReuseHistory_bookingId_fkey";

-- DropForeignKey
ALTER TABLE "SerialReuseHistory" DROP CONSTRAINT "SerialReuseHistory_jobId_fkey";

-- DropTable
DROP TABLE "User";

-- DropTable
DROP TABLE "Tenant";

-- DropTable
DROP TABLE "Client";

-- DropTable
DROP TABLE "Site";

-- DropTable
DROP TABLE "AssetCategory";

-- DropTable
DROP TABLE "Booking";

-- DropTable
DROP TABLE "BookingAsset";

-- DropTable
DROP TABLE "BookingStatusHistory";

-- DropTable
DROP TABLE "Job";

-- DropTable
DROP TABLE "JobAsset";

-- DropTable
DROP TABLE "JobStatusHistory";

-- DropTable
DROP TABLE "Vehicle";

-- DropTable
DROP TABLE "VehicleDriver";

-- DropTable
DROP TABLE "DriverProfile";

-- DropTable
DROP TABLE "OrganisationProfile";

-- DropTable
DROP TABLE "Evidence";

-- DropTable
DROP TABLE "Certificate";

-- DropTable
DROP TABLE "CO2Result";

-- DropTable
DROP TABLE "BuybackResult";

-- DropTable
DROP TABLE "BuybackConfig";

-- DropTable
DROP TABLE "FinanceStatus";

-- DropTable
DROP TABLE "Document";

-- DropTable
DROP TABLE "Invite";

-- DropTable
DROP TABLE "Notification";

-- DropTable
DROP TABLE "TwoFactorCode";

-- DropTable
DROP TABLE "ClientInventory";

-- DropTable
DROP TABLE "SerialReuseHistory";

-- DropEnum
DROP TYPE "UserRole";

-- DropEnum
DROP TYPE "UserStatus";

-- DropEnum
DROP TYPE "ClientStatus";

-- DropEnum
DROP TYPE "BookingType";

-- DropEnum
DROP TYPE "JMLSubType";

-- DropEnum
DROP TYPE "InventoryStatus";

-- DropEnum
DROP TYPE "BookingStatus";

-- DropEnum
DROP TYPE "JobStatus";

-- DropEnum
DROP TYPE "CertificateType";

-- DropEnum
DROP TYPE "NotificationType";

